.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.content {
    padding: 5%;
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
}

.jumbotron {  /*overwritten by default library*/
    display: block;
    background-color:#D1C4E9;
}

.about {
    padding-bottom: 5vh;
    border-bottom: 1px ridge;
}

.officer {
    padding-top: 5vh;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512DA8
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}